<h1>Provider: <%= @provider.name %></h1>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @provider.phone_number %>
</p>

<%= link_to 'Back', providers_path %>